@model IEnumerable<DemoRegAndLoginWithIdentity.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Tests Record</h1>

<p>
    <a class="btn btn-sm btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.TestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>                       

            <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.PatientID">Edit</a> 
                    <a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@item.PatientID">Details</a> 
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.PatientID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
